html {
  font-family: 'Open Sans', sans-serif;
  background-color: #034480;
}
body{
  width: 75vw;
  margin: 0 auto;
  background-color: #a3c6e7;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
p{
  margin-left: 10px;
  margin-right: 10px;
}
h1{
  font-size: 35px;
  text-align: center;
  margin: 0;
  padding: 5px;
  color: #000000;
}

.intro{
  margin-top: 0px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
}

.prompt{
  margin-top: 0px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 8px;
    min-width: 55px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    min-width: 55px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    min-width: 55px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    min-width: 2em;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .changeEdgeType{
      background-color: white;
      border-color: darkblue;
      border-style: solid;
      border-width: 4px;
      margin-left: 0px;
      margin-right: 0px;
      justify-content: left;
      align-content: center;
      display: flex;
      flex-direction: row;
      gap: 1em;
      width: auto;
  }

  #mynetwork {
    background-color: lightgray;
    border-style: solid !important;
    border-color: darkblue !important;
    border-width: 4px !important;
    width: 75vw;
    height: 60vh;
    border: 1px solid lightgray;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

#controlPanel{
  border-color: darkblue;
  border-style: none;
  border-width: 4px;
  margin-left: 0px;
  margin-top: -5em;
  margin-right: auto;
  margin-bottom: 1em;
  justify-content: left;
  align-content: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#submitbtn{
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-top: 0.3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;
}

#clear{
  justify-self: center;
}

#clearbtn{
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-top: 0.3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;
}







.surround{
  margin: 15px;
  padding: 20px;
  border: #000000;
  border-style: solid;
  border-radius: 0%;
  width: 71em;
}

.hidden{
  display: none;
}


#mindistance{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mindistance label{
  font-size: 16px;
  font-weight: bolder;
}

#mindistresult{
  font-size: 21px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#mindistresult p{
  font-size: 21px;
}

#mindistance input[type=text]{
  width: 1.5em;
  height: 1.5em;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 7px;
}

#cycle{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#cycleresult{
  font-size: 21px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#cycleresult p{
  font-size: 21px;
}

#cyclebtn{
  display: block;
  position: relative;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-top: 0.3em;
/*
  margin-left: auto;
  margin-right: auto;
  */
  margin-top: -5px;
}

#bfmindistance{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bfmindistance label{
  font-size: 16px;
  font-weight: bolder;
}

#bfmindistresult{
  font-size: 21px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#bfmindistresult p{
  font-size: 21px;
}

#bfmindistance input[type=text]{
  width: 1.5em;
  height: 1.5em;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 7px;
}

#bfmindistancebtn{
  display: block;
  position: relative;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-top: 0.3em;
/*
  margin-left: auto;
  margin-right: auto;
  */
  margin-top: -5px;
}

#bfs{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bfs label{
  font-size: 16px;
  font-weight: bolder;
}

#bfs input[type=text]{
  width: 1.5em;
  height: 1.5em;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 7px;
}

#bfsbtn{
  display: block;
  position: relative;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-top: 0.3em;
  /*
  margin-left: auto;
  margin-right: auto;
  */
  margin-top: -5px;
}

#bfsresult p{
  font-size: 21px;
}

#dfs{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dfs label{
  font-size: 16px;
  font-weight: bolder;
}

#dfs input[type=text]{
  width: 1.5em;
  height: 1.5em;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 7px;
}

#dfsbtn{
  display: block;
  position: relative;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-top: 0.3em;
  /*
  margin-left: auto;
  margin-right: auto;
  */
  margin-top: -5px;
}

#dfsresult p{
  font-size: 21px;
}

p{
  margin-top: 0.5em;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bolder;
}

#analysis {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

table, th, td {
  margin: auto;
  border:1px solid black;
  text-align: center;
  table-layout: auto;
  white-space: nowrap;
  font-size: 1.3em;
  min-width: 30%;
}

td, th {
  padding: 3px 3px 3px 3px;
  max-width: 65px;
  min-width: 35px;
}

#alist {
  font-size: 21px;
}

#mindistancebtn{
  display: block;
  position: relative;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-top: 0.3em;
  /*
  margin-left: auto;
  margin-right: auto;
  */
  margin-top: -5px;
}